/*
by Snowy YANG
for 洛奇wiki
*/

body {
    margin: 0;
    font: 16px Microsoft YaHei;
    height: 100vh
        
}
p {
    line-height: 1.5
}
hr {
    border: 0;
    border-top: #e9dfe5 1px solid
}
th {
    text-align:left;
}
em {
    color: rgb(64,128,208);
    font-style: normal 
}
strong {
    color: rgb(128,0,0);
    font-weight: normal
}
a {
    color: #006e54; 
}
a:visited {
    color: #43676b;
}
a:hover {
    
}
h2 {
}
nav {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    
}
nav a {
    text-decoration: none
}
h3 {
}
.hints {
    font-size: 80%;
    color: rgb(105,146,64)
}
.notice {
    background: #f8f4e6;
    color: #e6b422;
    border: #e6b422 1px solid
}
.timestamp {
    color: #aaaaaa
}
#toc ul {
    padding: 0
}
#toc li {
    list-style: none;
    padding-left: 1em;
}
#toc a {
    display: block;
    border-bottom: dashed 1px rgba(91,75,42,0.3);
    margin-left: -1em;
    padding-left: 1em
}
footer {
    width: 100%;
    font-size: 0.7em;
    color: #808080;
    text-align: right
}