/*
by Snowy YANG
for 符文工房中文百科
*/
@media only screen and (max-width:500px) {
    .title-l {
        display:none
    }
    nav {
        position:absolute;
        left:0;
        display:none;
        margin-top:5rem;
    }
    .ad {
        display: block;
        text-align: center;
    }
}
@media only screen and (min-width:500px) {
    .title-s {
        display:none
    }
    .ad {
        float:right;
    }
}
body {
    margin: 0;
    font: 16px Microsoft YaHei;
    height: 100vh 
}
.layout {
    display:flex;min-height:100vh
}
.title-s {
    background:#f8e8b8;
}
#toc-button {
    float:right;padding:1em;color:rgb(91,75,42)
}
nav {
    width:10em;min-width:10em;background:#f8e8b8;border-right:dashed 1px rgba(91,75,42,0.3);min-height:100vh
}
nav input[name="s"] {
    width: 80%; margin:0 1em
}
#con {
    display:flex;flex-direction:column;flex-grow:8
}
main {
    flex-grow:99;padding:0 1rem;word-break:break-all;width:100%;max-width:100%;box-sizing:border-box;line-height:1.5
}
p {
    line-height: 1.5
}
em {
    color: rgb(64,128,208);
    font-style: normal 
}
strong {
    color: rgb(128,0,0);
    font-weight: normal
}
a {
    color: rgb(64,128,208);
    text-decoration: none
}
a:visited {
    color: rgb(64,128,208);
}
a:hover {
}
.title-l h1 {
    font-size:200%;width:4.5em;padding:0 0.5rem 0 1rem;color:#205010
}
.title-s h1 {
    display:inline-block;line-height:1;margin:0.4em;color:#205010
}
h2 {
    color: #483725
}
h3 {
    color: #54422E
}
summary {
	cursor:pointer;
}
.hints {
    font-size: 80%;
    color: rgb(105,146,64)
}
#con table {
    font-size: 90%;
    border-collapse: collapse;
}
#con th {
    border:1px solid #aaa
}
#con tr:nth-child(odd) {
	background:#f0f0f0
}
#con td {
    border: 1px solid #AAA;
}
.timestamp {
    color: #aaaaaa
}
#toc {
    width: 10em;
}
#toc ul {
    padding: 0
}
#toc li {
    list-style: none;
    padding-left: 1em;
    color: rgb(91,75,42);
}
#toc a {
    display: block;
    color: rgb(91,75,42);
    border-bottom: dashed 1px rgba(91,75,42,0.3);
    margin-left: -1em;
    padding-left: 1em
}
footer {
    float: left;
    width: 100%;
    font-size: 0.7em;
    color: #808080;
    text-align: right
}
.xyxz {
    display:block;color:#f8e8b8;background-color:#205010;font-size:12px;
}
.xyxz:visited {
    color:#f8e8b8
}
.title-l .xyxz {
    text-align:center
}
.title-s .xyxz {
    padding:0.2rem 0.8rem
}
.ad {
    color:red;text-decoration:underline;
}
.ad:visited {
    color:red
}
#con .layout-table {
    background: transparent;
    padding: 0;
}
#con .layout-table tr {
    background: transparent;
}
#con .layout-table td {
    border: none;
    vertical-align: top;
    padding: 0;
}
@media (max-width: 600px) {
    .face {
        display:block;width:100%;
    }
}